<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mine.upmsx.mapper.SysUserBaseMapper"><!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mine.common.feign.entity.upmsx.SysUserBase">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="id_card" property="idCard"/>
        <result column="is_locked" property="isLocked"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="update_time" property="updateTime"/>
    </resultMap><!-- 通用查询结果列 --><sql id="Base_Column_List">
        id, user_name, password, mobile, email, id_card, is_locked, is_enabled, last_login_time, is_deleted, create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time
    </sql>

    <update id="updateLastLoginTime">
        update sys_user_base set last_login_time = #{lastLoginTime} where id = #{userId}
    </update>

    <select id="getLoginInfo" resultType="com.mine.common.feign.entity.upmsx.SysUserBase">
        select user.id,
               user.user_name,
               user.password,
               user.mobile,
               user.email,
               user.id_card,
               user.is_locked,
               user.is_enabled,
               user.last_login_time
        from sys_user_base user
                 left join sys_user_client client on user.id = client.user_id
        where (
                user.user_name = #{userName}
                or user.mobile = #{userName}
                or user.id_card = #{userName}
            )
          and client.client_id = #{clientId}
          and user.is_deleted = 0
          and client.is_deleted = 0
    </select>

</mapper>
