package com.mine.${package.ModuleName}.dto;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.util.Date;


/**
 * 【${table.comment}】交互层
 *
 * @author ${author}
 * @date ${date}
 */
@Data
#if("$!table.comment" != "")
@ApiModel(value = "【${table.comment}】交互层")
#end
public class ${entity}DTO {

    #foreach($field in ${table.fields})
    #if("$!field.comment" != "")
##    /**
##     *   ${field.comment}
##     */
    @ApiModelProperty(value = "${field.comment}")
    #end
    private ${field.propertyType} ${field.propertyName};

    #end
## ----------  END 字段循环遍历  ----------
 }