package com.mine.${package.ModuleName}.vo;

import com.mine.${package.ModuleName}.dto.${entity}DTO;
import com.fasterxml.jackson.annotation.JsonInclude;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;


/**
 * 【${table.comment}】响应层
 *
 * @author ${author}
 * @date ${date}
 */
@JsonInclude(JsonInclude.Include.NON_NULL)
@ApiModel(value = "【$!{table.comment}】返回层")
public class ${entity}VO {

    #foreach($field in ${table.fields})
        #if("$!field.comment" != "")
        /**
        *   ${field.comment}
        */
        #end
    private ${field.propertyType} ${field.propertyName};

    #end
    ## ----------  END 字段循环遍历  ----------
}
